@model RegistrationViewModel
@{
    ViewData["Title"] = "Registrierung abgeschlossen";
}

<h1>Registrierung abgeschlossen</h1>

<p>
    Hey @Model.GivenName,<br />
    Du hast dich erfolgreich für Newsletter registriert.
    Sobald deine Registrierung bestätigt wird, wirst du per E-Mail darüber informiert.
    Dann bekommst du für jeden neuen Blogeintrag eine Erinnerung an @Model.MailAddress gesendet.
</p>

