@using Microsoft.Extensions.Options
@using TravelBlog.Configuration 

@inject IOptions<SiteOptions> SiteOptions
    
@model RegistrationViewModel
@{
    ViewData["Title"] = "Anfrage gesendet";
}

<h1>Anfrage gesendet</h1>

<p>
    Hey @Model.GivenName,<br />
    Du hast dich erfolgreich für @SiteOptions.Value.BlogName registriert.
    Deine Registrierung muss zuerst geprüft und bestätigt werden, da auf diesem Blog auch private Inhalte gepostet werden könnten.
    Sobald deine Anfrage angenommen wurde, wirst du per E-Mail darüber informiert.
    Dann bekommst du außerdem für jeden neuen Blogeintrag eine Erinnerung an @Model.MailAddress gesendet.
</p>

