@model RegistrationViewModel
@{
    // .NET 6 does not allow to enforce callers to pass a view model:
    // https://github.com/dotnet/aspnetcore/issues/37510
    if (Model is null) throw new ArgumentNullException(nameof(Model));

    ViewData["Title"] = "Registrierung abgeschlossen";
}

<h1>Registrierung abgeschlossen</h1>

<p>
    Hey @Model.GivenName,<br />
    Du hast dich erfolgreich für Newsletter registriert.
    Sobald deine Registrierung bestätigt wird, wirst du per E-Mail darüber informiert.
    Dann bekommst du für jeden neuen Blogeintrag eine Erinnerung an @Model.MailAddress gesendet.
</p>

