@model PostEditViewModel
@{
    // .NET 6 does not allow to enforce callers to pass a view model:
    // https://github.com/dotnet/aspnetcore/issues/37510
    if (Model is null) throw new ArgumentNullException(nameof(Model));

    ViewData["Title"] = "Post bearbeiten";
}

<h1>Post bearbeiten</h1>

<form action="~/post/@Model.Post.Id/publish" method="post" id="dangerous-form">
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" name="title" value="@Model.Post.Title" required autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="content">Inhalt</label>
        <textarea class="form-control" id="content" name="content" rows="10" aria-describedby="contentHelp">@Model.Post.Content</textarea>
        <small class="form-text text-muted" id="contentHelp">
            Du kannst hier <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> zur Formatierung verwenden.
        </small>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="listed" name="listed" checked="@Model.Post.Listed" value="true" />
        <label for="listed" class="form-check-label">Post in der Übersicht anzeigen</label>
    </div>
    <textarea class="d-none" id="preview" name="preview" aria-hidden="true"></textarea>
    @if (Model.Post.PublishTime == default)
    {
        <button type="submit" formaction="~/post/@Model.Post.Id/edit" class="btn btn-secondary">Entwurf speichern</button>
        <button type="button" class="btn btn-primary" id="publish">Posten</button>
    }
    else
    {
        <button type="submit" formaction="~/post/@Model.Post.Id/edit" class="btn btn-primary">Aktualisieren</button>
    }
</form>

<div class="modal fade" id="confirm-submit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Post veröffentlichen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form onsubmit="event.preventDefault()">
                    <label for="modal-preview">Vorschautext für E-Mail</label>
                    <div class="form-group">
                        <textarea class="form-control" id="modal-preview" rows="10"></textarea>
                    </div>
                </form>

                Sobald du auf Veröffentlichen klickst, beginnt TravelBlog, E-Mails an deine Abbonenten zu verschicken. Den Post kannst du danach zwar noch bearbeiten, aber nicht mehr löschen!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" onclick="$('#dangerous-form').submit()" id="modal-submit">Veröffentlichen</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#publish').click(function (event) {
            if ($('#dangerous-form').get(0).reportValidity()) {
                const content = $('#content').val()
                const firstParagraphIdx = content.indexOf('\n\n')
                const firstParagraph = firstParagraphIdx === -1 ? content : content.substring(0, firstParagraphIdx)
                $('#modal-preview').val(firstParagraph)
                $('#confirm-submit').modal()
            }
        });

        $('#modal-submit').click(function (event) {
            $('#preview').val($('#modal-preview').val())
            $('#dangerous-form').submit()
        })
    </script>
}
