@model PostsViewModel
@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

@if (Context.User.IsInRole(Constants.AdminRole))
{
    <a class="btn btn-success" href="~/post/create">Neuer Post</a>
}

@foreach (var post in Model.Posts)
{
    <div>
        <h3><a href="~/post/@post.Id">@post.Title</a></h3>
        <p>@post.PublishTime</p>
        @if (Context.User.IsInRole(Constants.AdminRole))
        {
            <a class="btn btn-outline-primary" href="~/post/@post.Id/edit">Bearbeiten</a>
        }
    </div>
}
