@using Markdig
@using Microsoft.AspNetCore.Html

@model PostViewModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<h1>@Model.Post.Title</h1>
<p>Gepostet am @Model.Post.PublishTime - @Model.ReadCount Aufrufe bisher</p>

@{
    Write(new HtmlString(Markdown.ToHtml(Model.Post.Content)));
}
