@model MediaViewModel
@{
	ViewData["Title"] = "Mediendateien";
}

<h1 class="mb-3">Mediendateien</h1>

<form enctype="multipart/form-data" action="~/media/upload" method="post">
	<input type="file" multiple class="d-none" id="files" name="files" />
	<div class="form-row">
		<div class="col my-1">
			<div class="border p-3" id="file-drop-container">Dateien zum Hochladen hierhin ziehen oder klicken</div>
		</div>
		<div class="col-md-auto my-1 d-none">
			<button type="submit" class="btn btn-primary h-100" id="files-submit">Hochladen</button>
		</div>
	</div>
</form>

@{
	DateOnly? current = null;

	foreach (var file in Model.Files)
	{
		if (file.Month != current)
		{
			<hr />
			<h3>@file.Month.ToString("MMM yyyy")</h3>
			current = file.Month;
		}
		<figure class="figure border rounded p-1" data-src="@file.DownloadUrl")">
			<div class="center-image">
				<img src="@file.ThumbnailUrl?size=400" />
			</div>
			<figcaption class="figure-caption mt-1 mx-1">@file.Name</figcaption>
			<button role="button" class="btn d-none clipboard">📋</button>
			<button role="button" class="btn d-none delete">🗑️</button>
		</figure>
	}
}

@section Styles {
<style>
	.center-image {
		display: flex;
		width: 200px;
		height: 200px;
		align-items: center;
		justify-content: center;
	}

		.center-image img {
			max-width: 200px;
			max-height: 200px;
		}

	.figure-caption {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 200px;
		white-space: nowrap;
	}
</style>
}

@section Scripts {
<script src="~/js/media.js" asp-append-version="true"></script>
}
