
@{
    ViewData["Title"] = "Mediendateien hochladen";
}

<h1>Mediendateien hochladen</h1>

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input type="file" multiple class="form-control-file" id="files" name="files" />
    </div>
    <button type="submit" class="btn btn-primary">Hochladen</button>
</form>
