
@{
    ViewData["Title"] = "Mediendateien hochladen";
}

<h1>Mediendateien hochladen</h1>

<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <div class="file-drop-container w-100 p-3 border">Dateien hierhin ziehen</div>
    </div>
    <div class="form-group">
        <input type="file" multiple class="form-control-file" id="files" name="files" />
    </div>
    <button type="submit" class="btn btn-primary">Hochladen</button>
</form>

@section Scripts {
    <script>
        "use strict";

        (function () {
            const fileInput = document.getElementById("files");

            for (let element of document.getElementsByClassName("file-drop-container")) {
                console.log(element);
                element.ondragenter = function (ev) {
                    this.classList.add("border-primary");
                    return false;
                };
                element.ondragover = function (ev) {
                    return false;
                }
                element.ondragleave = function (ev) {
                    this.classList.remove("border-primary");
                    console.log(this.className);
                    return false;
                };
                element.ondrop = function (ev) {
                    fileInput.files = ev.dataTransfer.files;
                    ev.preventDefault();
                };
            }
        })();
    </script>
}
