
@{
    ViewData["Title"] = "Mediendateien hochladen";
}

<h1>Mediendateien hochladen</h1>

<form enctype="multipart/form-data" method="post">
    <input type="file" multiple id="files" name="files[]" />
</form>
