@model UnsubscribeViewModel
@{
    // .NET 6 does not allow to enforce callers to pass a view model:
    // https://github.com/dotnet/aspnetcore/issues/37510
    if (Model is null) throw new ArgumentNullException(nameof(Model));

    ViewData["Title"] = "E-Mails abbestellen";
}

<h1>E-Mails abbestellen</h1>

<p>
    Hey @Model.Subscriber.GivenName,<br />
    willst du wirklich keine E-Mails zu neuen Einträgen auf diesem Blog mehr bekommen und damit auch den Zugang dazu verlieren?
</p>

<form action="" method="post">
    <button type="submit" class="btn btn-primary">Abbestellen</button>
</form>
