@model UnsubscribeViewModel
@{
    // .NET 6 does not allow to enforce callers to pass a view model:
    // https://github.com/dotnet/aspnetcore/issues/37510
    if (Model is null) throw new ArgumentNullException(nameof(Model));

    ViewData["Title"] = "E-Mails abbestellt";
}

<h1>Erfolgreich abbestellt</h1>

<p>
    Hey @Model.Subscriber.GivenName,
    schade, dass du deinen Zugang zu diesem Blog aufgegeben hast.
    Falls du es dir doch noch einmal anders überlegst, kannst du dich jederzeit wieder registrieren.
</p>
