@model HomeEditViewModel
@{
	ViewData["Title"] = "Homepage bearbeiten";
}

<h1>Homepage bearbeiten</h1>

<form action="~/home/edit" method="post">
	<div class="form-group">
		<textarea class="form-control" id="content" name="content" rows="10" aria-describedby="contentHelp">@Model.Content</textarea>
		<small class="form-text text-muted" id="contentHelp">
			Du kannst hier <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> zur Formatierung verwenden.
		</small>
	</div>
	<button type="submit" class="btn btn-primary">Aktualisieren</button>
</form>
