@using Microsoft.Extensions.Options
@using TravelBlog.Configuration

@inject IOptions<SiteOptions> SiteOptions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen bei @SiteOptions.Value.BlogName</h1>
    <p>Bisher wurde hier noch nichts gepostet. Du kannst dich aber trotzdem schon <a href="~/register">registrieren</a>.</p>
</div>
