@using Microsoft.Extensions.Options
@using TravelBlog.Configuration

@inject IOptions<SiteOptions> SiteOptions
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="alert alert-info" role="alert">
    Wenn du kein Administrator von @SiteOptions.Value.BlogName bist und einfach nur Posts anschauen willst,
    verwende bitte einen Link, den du per E-Mail erhalten hast.
</div>

<form action="" method="post">
    <div class="form-group">
        <label for="username">Benutzername</label>
        <input type="text" class="form-control" id="username" name="username" value="admin" readonly required autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" name="password" required autocomplete="off" />
    </div>
    <button type="submit" class="btn btn-primary">Anmelden</button>
</form>
